<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="divcenter center clearfix" style="max-width: 900px;">
                <h1>Welcome! This is <span>a Project named Block Grains.</span>.</h1>
                <h2>This project aims to increase the traceability of diversions occuring in PDS(Public Distribution
                    System) outlets or Ration Shops.</h2>
            </div>

            <div class="line"></div>

            <div class="clearfix ">
                <div class="divcenter center" style="max-width: 900px;">
                    <label for="template-contactform-subject">Aadhar Number<small> * </small></label>

                    <input type="number" id="aadhaarNo" name="template-contactform-subject" value=""
                        class="required sm-form-control" aria-required="true">

                    <div class="col_full text-center" style="margin-top:35px;">
                        <a class="button button-3d nomargin" type="submit" id="template-contactform-submit" href="/stock/"
                            name="continueButton" onClick="goToStock()">Continue</a>
                    </div>
                </div>
            </div>
        </div>



        <div class="clear"></div>

    </div>

    <div class="line"></div>
    <div class="clear"></div>

    <div class="col_full bottommargin-lg common-height">

        <div class="col-md-4 dark col-padding ohidden " style="background-color: #ff3366;">
            <div>
                <h3 class="uppercase" style="font-weight: 600; font-size: 28px;">Why choose Us</h3>
                <p style="line-height: 1.8; font-size:18px;">To bring transperancy in the Rationing (Public
                    Distribution system)
                    System.</p>
                <i class="icon-bulb bgicon"></i>
            </div>
        </div>

        <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
            <div>
                <h3 class="uppercase" style="font-weight: 600; font-size: 28px;">Our Mission</h3>
                <p style="line-height: 1.8;font-size:18px;">To minimize the fraud by eliminating the obstacles in
                    the current
                    system and trying to make India corruption free in PDS system.</p>
                <i class="icon-cog bgicon"></i>
            </div>
        </div>

        <div class="col-md-4 dark col-padding ohidden" style="background-color: #ff3366;">
            <div>
                <h3 class="uppercase" style="font-weight: 600; font-size: 28px;">What you get</h3>
                <p style="line-height: 1.8;font-size:18px;">A Blockchain based Solution that serves as a reliable
                    source of data
                    storage.</p>
                <i class="icon-thumbs-up bgicon"></i>
            </div>
        </div>

    </div>

    </div>

    <script>
        function goToStock(){
            //window.location.href = "/stock/"+document.getElementById("aadhaarNo").value;
        }
    </script>

</section>