<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="divcenter center clearfix" style="max-width: 900px;">
                <h1>Welcome! This is <span>a Project named Block Grains.</span>.</h1>
                <h2>This project aims to increase the traceability of diversions occuring in PDS(Public Distribution
                    System) outlets or Ration Shops.</h2>
            </div>

            <div class="line"></div>

            <div class="clearfix">
                <div class="divcenter col_two_third">

                    <form id="aadhaarForm" method="post" class="form-horizontal">
                        <label for="template-contactform-subject">Aadhar Number<small> * </small></label>
                        <input type="text" id="template-contactform-subject" name="template-contactform-subject" value=""
                            class="required sm-form-control" aria-required="true">

                        <div class="col_full text-center" style="margin-top:35px;">
                            <a class="button button-3d nomargin" type="submit" id="template-contactform-submit" href="/stock"
                                name="continueButton" value="submit">Continue</a>
                        </div>
                    </form>
                </div>
            </div>



            <div class="clear"></div>

        </div>

        <div class="line"></div>
        <div class="clear"></div>

        <div class="col_full bottommargin-lg common-height">

            <div class="col-md-4 dark col-padding ohidden" style="background-color: #1abc9c;">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">Why choose Us</h3>
                    <p style="line-height: 1.8;">We are converting the manual form filling process with easy online
                        application.</p>
                    <i class="icon-bulb bgicon"></i>
                </div>
            </div>

            <div class="col-md-4 dark col-padding ohidden" style="background-color: #34495e;">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">Our Mission</h3>
                    <p style="line-height: 1.8;">To support Digital India work of PM Narendra Modi, our mission is
                        to make the Government of India Digital First so that Indian's also become Digital.</p>
                    <i class="icon-cog bgicon"></i>
                </div>
            </div>

            <div class="col-md-4 dark col-padding ohidden" style="background-color: #e74c3c;">
                <div>
                    <h3 class="uppercase" style="font-weight: 600;">What you get</h3>
                    <p style="line-height: 1.8;"> An Online Application for Women form filling at their own
                        convinience and their own time.</p>
                    <i class="icon-thumbs-up bgicon"></i>
                </div>
            </div>

        </div>

    </div>

</section>