{% extends 'includes/layout.html' %}


{% block body %}






<h3 id="refresh">Refreshing...</h3>
<h3 id="status">Rice:<span id="rice"></span> kg Wheat:<span id="wheat"></span> kg Coarse:<span id="coarse"></span> kg</h3>






<form>
	<table>
		<thead>
			<tr>
				<th>Food Grain</th>
				<th>Cost/kg</th>
				<th>Quantity(kg)</th>
				<th>Total Cost</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rice</td>
				<td>3</td>
				<td><input type="text" id="riceQuantity" class="quantity" name="riceQuantity" /></td>
				<td id="riceTotalCost">0</td>
			</tr>
			<tr>
				<td>Wheat</td>
				<td>2</td>
				<td><input type="number" id="wheatQuantity" name="wheatQuantity" class="quantity" /></td>
				<td id="wheatTotalCost">0</td>
			</tr>
			<tr>
				<td>Coarse</td>
				<td>1</td>
				<td><input type="number" id="coarseQuantity" name="coarseQuantity" class="quantity" /></td>
				<td id="coarseTotalCost">0</td>
			</tr>
			<tr>
				<td colSpan="3" align="right">Grand Total</td>
				<td id="grandTotal"></td>
			</tr>
			<tr>
				<td colspan="4"><input type="button" value="Confirm" id="confirmButton" /></td>
			</tr>
		</tbody>
	</table>
</form>


{% endblock %}