{% extends 'includes/layout.html' %}



{% block body %}


<div class="sidebar">
	<a class="" href="/">Home</a>
	<a class="active" href="/">Stock</a>
	<a href="/profile">Profile</a>
	<a href="/getUsage">Check Usage</a>
</div>

<form method="POST">
<div class="content">
	<div class="container">
		<div class="row">
			<div class="card p-3 mt-5 mx-auto">
				<div class="card-body">
					<h2 class="text-center mb-5 text-dark">STOCK</h2>


					<div class="clearfix ml-5">
						<div class="card text-white bg-secondary mb-3 float-left  m-3 p-2" style="max-width: 20rem;">
							<div class="card-body">
								<h5 class="card-title">Rice </h5>
								<span class="card-text" id="rice"></span>
								<span>KG</span>
							</div>
						</div>
						<div class="card text-white bg-secondary mb-3 float-left m-3 p-2" style="max-width: 20rem;">
							<div class="card-body">
								<h5 class="card-title">Wheat</h5>
								<span class="card-text" id="wheat"></span>
								<span>KG</span>

							</div>
						</div>
						<div class="card text-white bg-secondary mb-3 float-left m-3 p-2" style="max-width:20rem;">
							<div class="card-body">
								<h5 class="card-title">Coarse</h5>
								<span class="card-text" id="coarse"></span>
								<span>KG</span>
							</div>
						</div>


					</div>

					<div class="row">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Food Grain</th>
									<th scope="col">Cost / KG</th>
									<th scope="col">Quantity</th>
									<th scope="col">Total Cost</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Rice</td>
									<td>3</td>
									<td>
										<div class="form-group">
											<input class="form-control quantity" type="text" id="riceQuantity" name="riceQuantity" 
											{% if session['rice'] %}
												value="{{ session['rice'] }}"
											{% endif %} />
										</div>
									</td>
									<td id="riceTotalCost">0</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Wheat</td>
									<td>2</td>
									<td>
										<div class="form-group">
											<input class="form-control quantity" type="number" id="wheatQuantity" name="wheatQuantity"
											{% if session['wheat'] %}
												value="{{ session['wheat'] }}"
											{% endif %} />
										</div>
									</td>
									<td id="wheatTotalCost">0</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Coarse</td>
									<td>1</td>
									<td>
										<div class="form-group">
											<input class="form-control quantity" type="number" id="coarseQuantity" name="coarseQuantity" 
											{% if session['coarse'] %}
												value="{{ session['coarse'] }}"
											{% endif %}/>
										</div>
									</td>
									<td id="coarseTotalCost">0</td>
								</tr>
								<tr>
									<td colspan="4" align="right">Grand Total</td>
									<td id="grandTotal">0</td>
								</tr>
								<tr>
									<td colspan="4" align="right">
										<input class="btn  button button-3d nomargin" type="submit" value="Confirm" id="confirmButton"  />
									</td>
									<td>
										<input class="btn  button button-3d nomargin" value="Enter OTP" id="enterOTP" data-toggle="modal"
										 data-target="#exampleModal" />
									</td>
								</tr>
								<tr>
								<td colspan="4">
								{% with messages = get_flashed_messages() %}
								{% if messages %}
								{% for message in messages %}
								<div class="alert alert-danger">{{ message }}</div>
								{% endfor %}
								{% endif %}
								{% endwith %}
								</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Do you want to Continue??</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<span>An OTP has been sent to your registered mobile number.</span>
				<br>
				<span>Kindly enter it below</span>

				<div class="form-group">
					<br>
					<input type="number" name="" id="inputOtp" class="form-control">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn button button-3d nomargin" id="submitOtp">Submit</button>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){
            $("#status").show();
            $("#refresh").hide();


            initWeb3();

            $("#riceQuantity").keyup(function () {
                var quantity = parseInt($(this).val());
                if (!isNaN(quantity)) {
                    $("#riceTotalCost").text(quantity * 3);
                } else {
                    $("#riceTotalCost").text("0");
                }
            });

            $("#wheatQuantity").keyup(function () {
                var quantity = parseInt($(this).val());
                if (!isNaN(quantity)) {
                    $("#wheatTotalCost").text(quantity * 2);
                } else {
                    $("#wheatTotalCost").text("0");
                }
            });

            $("#coarseQuantity").keyup(function () {
                var quantity = parseInt($(this).val());
                if (!isNaN(quantity)) {
                    $("#coarseTotalCost").text(quantity * 1);
                } else {
                    $("#coarseTotalCost").text("0");
                }
            });

            $(".quantity").keyup(function () { 
                var total = parseInt($("#riceTotalCost").text()) + parseInt($("#wheatTotalCost").text()) +
                    parseInt($("#coarseTotalCost").text());
                $("#grandTotal").text(total);
            });

				/*$("#confirmButton").click(function () {
                $.get("/sendOtp",function(data,status){
                    console.log(data);
                });
                //performTransaction();
            });*/
        
            $("#submitOtp").click(function(){
                var otp = $("#inputOtp").val();
                 $.get("/verifyOtp/"+otp,function(data,status){
                    //console.log(data);
                    if(data === "True"){
                        //$('#exampleModal').modal('hide');
                        //$("#exampleModal").hide();
                        performTransaction();
                    }
                    else{
                        alert(data);
                    }
                });
            });

        });

        var contract, web3, distributor;
        var beneficiary = '0x2Fb5450D46267983331b42e49430bBF7474dB6d8';

        function initWeb3() {
            if (typeof web3 !== 'undefined') {
                provider = web3.currentProvider;
                provider.enable();
                web3 = new Web3(provider);
                web3.eth.getCoinbase((error, account) => {
                    distributor = account;
                    initContract();
                });
            }
        }

        function initContract() {
            $.getJSON('/static/build/contracts/Commodity.json', function (output) {
                abi = output.abi;
                contract = new web3.eth.Contract(abi, "0x88ba533e0b33f10b7153AF72479B1D095B89906a");
                contract.events.BufferStatusChanged({}, (err, result) => {
                    contract.methods.distributors(distributor).call((error, res) => {
                        $("#rice").text(res[0]);
                        $("#wheat").text(res[1]);
                        $("#coarse").text(res[2]);

                        $("#status").show();
                        $("#refresh").hide();
                    });
                });
                getStatus();
            });
        }

        function getStatus() {
            contract.methods.distributors(distributor).call((error, res) => {
                $("#rice").text(res[0]);
                $("#wheat").text(res[1]);
                $("#coarse").text(res[2]);
            });
        }

        function performTransaction() {
            var riceAmount = parseInt($("#riceQuantity").val());
            var wheatAmount = parseInt($("#wheatQuantity").val());
            var coarseAmount = parseInt($("#coarseQuantity").val());
            contract.methods.sell(beneficiary,"0x01","0x123456",riceAmount, wheatAmount, coarseAmount).send({
                from: distributor
            });
            $("#status").hide();
            $("#refresh").show();

        }
    </script>

{% endblock %}